<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Confirmacion</h1>
                <nav class="d-flex align-items-center">
                    <a href='@Url.Action("Index","Index")'>Inicio<span class="lnr lnr-arrow-right"></span></a>
                    <a href='@Url.Action("Confirmation","Confirmation")'>Confirmacion</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Order Details Area =================-->
<section class="order_details section_gap">
    <div class="container">
        <h3 class="title_confirmation">Gracias. Su orden ha sido recibida.</h3>
        <div class="row order_d_inner">
            <div class="col-lg-4">
                <div class="details_item">
                    <h4>Informacion de Orden</h4>
                    <ul class="list">
                        <li><a href="#"><span>Numero de Orden </span> : 60235</a></li>
                        <li><a href="#"><span>Fecha</span> :  @DateTime.Now </a></li>
                        <li><a href="#"><span>Total</span> : DOP 2210</a></li>
                        <li><a href="#"><span>Metodo de pago</span> : Verificacion de pago</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="details_item">
                    <h4>Dirección de Envio</h4>
                    <ul class="list">
                        <li><a href="#"><span>Direccion</span> : Ensanche Roman calle,56,#8</a></li>
                        <li><a href="#"><span>Provincia</span> : Santiago</a></li>
                        <li><a href="#"><span>Municipio</span> : Santiago  de los caballeros</a></li>
                        <li><a href="#"><span>Pais</span> : Republica Dominicana</a></li>
                        <li><a href="#"><span>Codigo postal </span> : 51000</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="details_item">
                    <h4>Detalles de envio</h4>
                    <ul class="list">
                        <li><a href="#"><span>Nombre</span> : Juan</a></li>
                        <li><a href="#"><span>Apellido </span> : Lopez</a></li>
                        <li><a href="#"><span>Empresa</span> : Calzados Ferpa</a></li>
                        <li><a href="#"><span>Telefono</span> : 809-732-5634</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="order_details_table">
            <h2>Order Details</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p>Pixelstore fresh Blackberry</p>
                            </td>
                            <td>
                                <h5>x 02</h5>
                            </td>
                            <td>
                                <p>$720.00</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Pixelstore fresh Blackberry</p>
                            </td>
                            <td>
                                <h5>x 02</h5>
                            </td>
                            <td>
                                <p>$720.00</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Pixelstore fresh Blackberry</p>
                            </td>
                            <td>
                                <h5>x 02</h5>
                            </td>
                            <td>
                                <p>$720.00</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4>Subtotal</h4>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <p>$2160.00</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4>Flete</h4>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <p>Tarifa plana: $50.00</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4>Total</h4>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <p>$2210.00</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--================End Order Details Area =================-->
